# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
account_server/.gradle/
WebAPITest/.gradle/
*.kotlin_module
*.MF
AccountServer/.gradle/
boot/.gradle/
WebAPITest/gradle/
CodeBroker/.jython_cache/
CodeBroker/src/main/resource/script/.jython_cache/
GameServer/.gradle/
